@use '../abstracts/mixins' as *;

html {
  font-size: 62.5%;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.container {
  --horizontal-spacing: 4rem;

  width: min(116rem, calc(100% - (2 * var(--horizontal-spacing))));
  margin-inline: auto;
}

.even-columns {
  display: grid;
  gap: 1rem;
}

@include media-breakpoint-up(md) {
  .even-columns {
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
  }
}

@include media-breakpoint-down(sm) {
  .container {
    --horizontal-spacing: 2.4rem;
  }
}
